body {
   background: linear-gradient(to right, #a8b5d9 0%, #b19cd9 100%);
  }
  
  .body {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
  }
  
  h2 {
   animation: 2.5s blink linear infinite;
   display: flex;
   justify-content: center;
   position: static;
  }
  
  .birthdayCard {
   position: relative;
   width: 250px;
   height: 350px;
   cursor: pointer;
   transform-style: preserve-3d;
   transform: perspective(2500px);
   transition: 1s;
  }
  
  .cardFront {
   position: relative;
   background-color: #ffffff;
   width: 250px;
   height: 350px;
   overflow: hidden;
   transform-origin: left;
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
   transition: .6s;
  }
  
  .happy {
   font-family: Tahoma, sans-serif;
   text-align: center;
   margin: 30px;
   background-image: linear-gradient(120deg, #a9e2e7 0%, #bf9dfe 100%);
   transition: .1s;
  }
  
  .balloons {
   position: absolute;
  }
  
  .balloonOne,
  .balloonTwo,
  .balloonThree,
  .balloonFour {
   position: absolute;
   width: 85px;
   height: 95px;
   border-radius: 50%;
  }
  
  .balloonOne {
   background-color: rgba(250, 83, 122, 0.462);
   left: -10px;
   top: 50px;
  }
  
  .balloonTwo {
   background-color: rgb(6, 214, 160, 0.7);
   left: 50px;
   top: 20px;
  }
  
  .balloonThree {
   background-color: rgb(255, 209, 102, 0.7);
   left: 110px;
   top: 50px;
  }
  
  .balloonFour {
   background-color: rgba(255, 120, 226, 0.718);
   left: 170px;
   top: 20px;
  }
  
  .balloonOne:before,
  .balloonTwo:before,
  .balloonThree:before,
  .balloonFour:before {
   content: "";
   position: absolute;
   width: 1px;
   height: 155px;
   background-color: #ffd166;
   top: 95px;
   left: 43px;
  }
  
  .balloonOne:after,
  .balloonTwo:after,
  .balloonThree:after,
  .balloonFour:after {
   content: "";
   position: absolute;
   border-right: 7px solid transparent;
   border-left: 7px solid transparent;
   top: 94px;
   left: 37px;
  }
  
  .balloonOne:after {
   border-bottom: 10px solid #ef476f;
  }
  
  .balloonTwo:after {
   border-bottom: 10px solid #06d6a0;
  }
  
  .balloonThree:after {
   border-bottom: 10px solid #ffd166;
  }
  
  .balloonFour:after {
   border-bottom: 10px solid #118ab2;
  }
  
  .cardInside {
   position: absolute;
   background-color: #fff;
   width: 250px;
   height: 350px;
   z-index: -1;
   left: 0;
   top: 0;
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
  }
  
  p {
   font-family: cursive;
   margin: 15px 10px 10px 30px;
   color: #333;
  }
  
  .name {
   position: absolute;
   left: 150px;
   /* top: 200px; */
   color: #333;
   text-decoration: underline;
  }
  
  .back {
   font-family: Tahoma, sans-serif;
   color: #333;
   text-align: center;
   margin: 30px;
   outline-color: #333;
   outline-style: dashed;
  }
  
  .birthdayCard:hover {
   transform: perspective(2500px) rotate(5deg);
   box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5);
  }
  
  .birthdayCard:hover .cardFront {
   transform: rotateY(-160deg);
  }
  
  .birthdayCard:hover .happy {
   visibility: hidden;
  }
  
  @keyframes blink {
   0% {
    color: white;
    opacity: 1;
   }
  
   50%{
      opacity: 0;
   }
  
   100% {
    color: rgb(255, 255, 255);
    opacity: 1;
   }
  }
 
 ul li.next{
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(-50%, -50%);
    margin:0;
    padding: 0;
    display: flex;
 }
 
 ul li.prev{
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    margin:0;
    padding: 0;
    display: flex;
 }
 
 ul li{
    list-style: none;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.522);
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
 }
 
 ul li:hover{
    background: #fffdfd7e;
 }
 
 ul li span{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #9d70f1;
    transition: .5s;
 }
 
 ul li.next span{
    top: 50%;
    right: 40%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
 }
 
 ul li.next:hover span{
    right: 20%;
 }
 
 ul li.next span::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background: rgba(255, 255, 255, 0.625);
    background: #9d70f1;
    transform-origin: right;
    transform: rotate(45deg) translate(0, 25px) scale(0);
    transition: .5s;
 }
 
 ul li.next:hover span::before{
    transform: rotate(45deg) translate(0, 25px) scale(1);
 }
 
 ul li.prev span{
    top: 50%;
    left: 40%;
    transform: translateY(-50%) rotate(-45deg);
    border-right: none;
    border-bottom: none;
 }
 
 ul li.prev:hover span{
    left: 20%;
 }
 
 ul li.prev span::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 4px;
    background: rgba(255, 255, 255, 0.625);
    background: #9d70f1;
    transform-origin: left;
    transform: rotate(45deg) translate(-2px, -1px) scale(0);
    transition: .5s;
 }
 
 ul li.prev:hover span::before{
    transform: rotate(45deg) translate(-2px, -1px) scale(1);
 }